@import '../../../styles';

.breadcrum{
  display: flex;
  &__label{
    font-size: pxToRem(16);
    line-height: pxToRem(23);
    letter-spacing: pxToRem(1);
    color: $breadcrum-color;
    @include screen(desktop){
      font-size: pxToRem(14);
      line-height: pxToRem(19);
      letter-spacing: pxToRem(3);
    }
  }
}