@import '../../styles';

.main-content{
  &__nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: pxToRem(16) pxToRem(12);
  }
  &__header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__carousel{
    display: block;
  }
}