@import '../../styles';

.main-content{
  &__nav{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    margin: pxToRem(16) pxToRem(12) 0 0;
    &__cta{
      align-self: flex-end;
      margin-bottom: pxToRem(42);
      display: flex;
      align-items: center;
    }
    @include screen(desktop){
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: pxToRem(40) pxToRem(130) pxToRem(10) pxToRem(130);
      &__cta{
        margin-bottom: pxToRem(0);
      }
    }
  }
  &__header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include screen(desktop){
      margin: pxToRem(0) pxToRem(130) pxToRem(40) pxToRem(130);
    }
  }
  &__carousel{
    display: block;
    @include screen(desktop){
      margin: pxToRem(0) pxToRem(110) pxToRem(40) pxToRem(130);
    }
  }
}