@import '../../../styles';

.button{
  padding: pxToRem(4) pxToRem(8);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.next-arrow, .prev-arrow{
  &::before{
    content: none;
  }
  &.slick-disabled{
    display: none;
  }
  .icon{
    height: pxToRem(36);
    width: pxToRem(36);
  }
}